<div class="container">
  <h2>Software de Criptografia de Dados
    <small>by Allan Samuel, Gabriel Serafim, Júlia Luz, Paola Tunis, Roberta Teixeira</small>
  </h2>

  <div class="jumbotron">
    <h3>Crie sua chave secreta baseada em uma senha:</h3>
    <div id="inputSenha">
      <div class="form-group">
        <input class="form-control" id="senhaInput" [(ngModel)]="senha" placeholder="Digite a senha:">
        <button type="button" class="btn btn-success" (click)="gerarChaveSecreta()">Gerar</button>
      </div>

    </div>
    <div *ngIf="chaveSecretaGerada">Chave secreta gerada com sucesso!</div>
  </div>

  <div class="jumbotron">
    <h3>Criptografe e decriptografe com a chave seu texto:</h3>

    <div id="encriptografar">
      <div class="form-group">
        <textarea type="text" class="form-control" id="textInput" [(ngModel)]="texto" placeholder="Digite seu texto:"></textarea>
      </div>
      <button type="button" class="btn btn-success" (click)="criptografarTexto()">Criptografar</button>
    </div>

    <form id="decriptografar">
      <div class="form-group">
        <p class="textoCriptografado">{{textoCriptografado}}</p>
      </div>
      <button type="button" class="btn btn-primary" (click)="decriptografarTexto()">Decriptografar</button>
    </form>

    <div class="form-group">
      <p class="textoDecriptografado">{{textoDecriptografado}}</p>
    </div>
  </div>

  <div class="jumbotron">
    <h3>Criptografar chave secreta:</h3>

    <button type="button" class="btn btn-success" (click)="criptografarChave()">Criptografar</button>
    <p class="textoCriptografado">{{chaveCriptografada}}</p>

    <button type="button" class="btn btn-primary" (click)="decriptografarChave()">Decriptografar</button>
    <p class="textoCriptografado">{{chaveDecriptada }}</p>
  </div>
</div>
