@import '~bootstrap/dist/css/bootstrap.min.css';

.form-group {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 20px 0;
}

#senhaInput {
  margin-right: 10px;
}

.disabled {
  cursor: not-allowed;
}
